parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     bookstore
    database_user:     travis
    database_password: ~
    locale:            en
    secret:            dz7am99bonp0tbd215iznv2571bwffq3pri6966710484fy0
    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
