{% macro sort(column, label, route, datagrid) %}
    {% if datagrid.sortColumn == column %}
        {% if datagrid.sortOrder == 'desc' %} 
            {% set order = 'asc' %}
            {% set icon = 'fa-chevron-down' %}
        {% else %}
            {% set order = 'desc' %}
            {% set icon = 'fa-chevron-up' %}
        {%endif %}
    {% else %}
        {% set order = datagrid.defaultSort.order %}
    {% endif %}
    
    <a href="{{ datagrid.sortPath(route, column, order) }}">
        {{ label }} 
    </a> 
    {% if datagrid.sortColumn == column %}
    <i class="fa {{ icon }}"></i>
    {% endif %}
{% endmacro %}